{{ $previous_label := "Previous" }}
{{ $next_label := "Next" }}
{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="list-pagination w-100">
  <ul class="paginate list pl0 tc dt w-100 ma0">
    <li class="dtc w-25 tl v-mid">
    {{ if $pag.HasPrev }}
      <a href="{{ $pag.Prev.URL }}" class="previous pa2 db fw6" aria-label="Previous">&larr; {{ $previous_label }}</a>
    {{ else }}
      <span class="previous pa2 db fw6">&larr; {{ $previous_label }}</span>
    {{ end }}
    </li>
    <li class="dtc w-50 v-mid">
      <ul class="pagination-numbers list pl0 tc ma0" style="display: inline-flex;">
        {{ range $i, $page := $pag.Pagers }}
          <li class="pagination-number dtc v-mid" style="display: inline;">
            {{ if eq $pag.PageNumber (add $i 1) }}
              <span class="current-page pa2 db fw6">{{ add $i 1 }}</span>
            {{ else }}
              <a href="{{ $page.URL }}" class="page-number pa2 db fw6">{{ add $i 1 }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </li>
    <li class="dtc w-25 tr v-mid">
    {{ if $pag.HasNext }}
      <a href="{{ $pag.Next.URL }}" class="next pa2 db fw6" aria-label="Next">{{ $next_label }} &rarr;</a>
    {{ else }}
      <span class="next pa2 db fw6">{{ $next_label }} &rarr;</span>
    {{ end }}
    </li>
  </ul>
</div>
{{ end }}
