<div class="post-pagination dt w-100 mt2 mb2">
    <h3>See also: </h3>
  <div class="pagination-card">
    {{ with .NextInSection }}
      <a class="prev-card dtc pr2 tl v-top fw6"
      href="{{.Permalink}}">
        <div class="card">
          <div class="card-content">
            <h4>&larr; Previous</h4>
            <p>{{.Title}}</p>
          </div>
        </div>
      </a>
    {{ end }}
    {{ with .PrevInSection }}
      <a class="next-card dtc pl2 tr v-top fw6"
      href="{{.Permalink}}">
        <div class="card">
          <div class="card-content">
            <h4>Next &rarr;</h4>
            <p>{{.Title}}</p>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
</div>
<style>
.pagination-card {
  display: flex;
  justify-content: space-between;
  max-width: 80%; /* This should be adjusted to match your mw9 equivalent */
  margin: 0 auto; /* Center the content */
}

.card {
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(254, 240, 236, 0.1);
  background: rgba(254, 240, 236, 0.93);
  padding: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card-content {
  text-align: center;
}
</style>
