{{ $page := . }}
{{ $section := $page.CurrentSection }}
{{ $root := .Scratch.Get "$root" }}
<article class="mv4 mv5-l bb">
  {{ if $root.Params.show_post_thumbnail }}
  {{- $images := $page.Resources.ByType "image" -}}
  {{ $leaf := $images.GetMatch "*feature*" }}
  {{- $hex := $images.GetMatch "*hex*" -}}
  {{- $thumbnail := cond (ne $hex nil) $hex $leaf -}}
  {{ $branch := ($section.Resources.ByType "image").GetMatch "*feature*" }}
  {{- $thumbnail := cond (ne $thumbnail nil) $thumbnail $branch -}}
  <div class="flex flex-column mb2 mb3-l {{ if (ne $hex nil) }}items-center{{ end }} {{ if $root.Params.thumbnail_left }}flex-row-ns{{ else }}flex-row-reverse-ns{{ end }} items-start">
    <figure class="{{ if $root.Params.thumbnail_left }}mr3-ns{{ else }}ml3-ns{{ end }} ma0 mb2 mb0-l w-100 w-30-ns">
      <a href="{{ .RelPermalink }}" class="db">
        {{ with $thumbnail }}
          <img src="{{ .RelPermalink | absURL }}" class="db ma0 dim" alt="">
        {{ end }}
      </a>
    </figure>
    <div class="flex flex-column w-100 w-70-ns {{ if $root.Params.thumbnail_left }}pr3-ns{{ else }}pl3-ns{{ end }} items-start">
      <header class="w-100">
        <h1 class="f3 mv3 lh-title fw9"><a href="{{ .RelPermalink }}" class="db">{{ .Title | markdownify }}</a></h1>
        {{ range first 1 (.GetTerms "series") }}
        <h2 class="f5"><i class="fas fa-stream fa-fw pr1"></i><small class="f5ttu tracked">Series: </small><a class="link i dim" href="{{ $section.RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ end }}
      </header>
      {{ $summary := cond (ne .Params.excerpt nil) .Params.excerpt .Summary }}
      {{ with $summary }}
        {{ $shortSummary := "" }}
        {{ $words := split . " " }}
        {{ range $index, $word := $words }}
          {{ if lt $index 75 }}
            {{ $shortSummary = print $shortSummary $word " " }}
          {{ end }}
        {{- end }}
        {{ if gt (len $words) 75 }}
          {{ $shortSummary = print $shortSummary "..." }}
        {{ end }}
        {{ $shortSummary := replace $shortSummary "Abstract" "" }}
        <p class="f5 lh-copy mb4">{{ $shortSummary | markdownify | emojify }}</p>
      {{ end }}
      <footer class="w-100">
        <div class="flex items-start">
          <div class="w-50">
            {{ if $root.Params.show_post_date }}<p class="f5 db mt0">{{ .PublishDate.Format "January 2006" }}</p>{{ end }}
          </div>
          <div class="w-50">
            <p class="f5 db mt0"><strong class="fw8">Author(s):</strong> {{ if .Params.author }}{{ .Params.author }}{{ end }}</p>
            {{ if isset .Params "keywords" }}
              <p class="f5 db mt3"><strong class="fw8">Keywords:</strong>
                {{ $keywords := delimit .Params.keywords " " }}
                {{ $keywords := replace $keywords "[]" "" }}
                {{ $keywords := replace $keywords ";" "; " }}
                {{ $keywords }}
              </p>
            {{ end }}
          </div>
        </div>
        {{ if and $root.Params.show_button_links .Params.links }}
          <p class="db pt1">
            {{ partial "shared/btn-links.html" . }}
          </p>
        {{ end }}
      </footer>
    </div>
  </div>

  {{ else }}
  <div class="flex flex-row mb2 mb3-l mw9 center items-start">
    <div class="w-60 pr4">
      <header>
        <h1 class="f3 mt0 mb2 lh-title fw8"><a href="{{ .RelPermalink }}" class="db">{{ .Title | markdownify }}</a></h1>
        {{ range first 1 (.GetTerms "series") }}
        <h2 class="f5"><i class="fas fa-stream fa-fw pr1"></i><small class="f5ttu tracked">Series: </small><a class="link i dim" href="{{ $section.RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ end }}
      </header>
      <p class="f4 db mt0"><em>{{ if .Params.journal }}{{ .Params.journal }}{{ end }}</em></p>
      {{ $summary := cond (ne .Params.excerpt nil) .Params.excerpt .Summary }}
      {{ with $summary }}
        {{ $shortSummary := "" }}
        {{ $words := split . " " }}
        {{ range $index, $word := $words }}
          {{ if lt $index 75 }}
            {{ $shortSummary = print $shortSummary $word " " }}
          {{ end }}
        {{- end }}
        {{ if gt (len $words) 75 }}
          {{ $shortSummary = print $shortSummary "..." }}
        {{ end }}
        {{ $shortSummary := replace $shortSummary "Abstract" "" }}
        <p class="f5 lh-copy mb4">{{ $shortSummary | markdownify | emojify }}</p>
      {{ end }}
    </div>
    <div class="w-40 pl4">
      <footer>
        {{ if $root.Params.show_post_date }}<p class="f5 db mt0">{{ .PublishDate.Format "January 2006" }}</p>{{ end }}
        <p class="f5 db mt0"><strong class="fw8">Author(s):</strong> {{ if .Params.author }}{{ .Params.author }}{{ end }}</p>
        {{ if isset .Params "keywords" }}
          <p class="f5 db mt3"><strong class="fw8">Keywords:</strong>
            {{ $keywords := delimit .Params.keywords " " }}
            {{ $keywords := replace $keywords "[]" "" }}
            {{ $keywords := replace $keywords ";" "; " }}
            {{ $keywords }}
          </p>
        {{ end }}
        <div style="text-align: center;">
          {{ if .Params.doi }}
            <div
              onclick="event.preventDefault(); window.open('https://www.altmetric.com/details.php?doi={{ .Params.doi }}', '_blank');"
              data-badge-popover="left"
              data-badge-type="1"
              data-doi="{{ .Params.doi }}"
              data-hide-no-mentions="true"
              class="altmetric-embed"
              style="cursor: pointer; margin-top: 20px;">
            </div>
          {{ end }}
        </div>
        {{ if and $root.Params.show_button_links .Params.links }}
          <p class="db pt1">
            {{ partial "shared/btn-links.html" . }}
          </p>
        {{ end }}
      </footer>
    </div>
  </div>
  {{ end }}
</article>
